body{
    /* background: #f8f7ff;  */
}
div.ui.raised.card{
    white-space: normal;
    word-wrap: break-word;
}
div.ui.content.c1{
    background-color:#b8b8ff!important;
     padding:10px;
      height:60px;
}
div.ui.content.c2{
    height: 310px;
    background: #f8f7ff!important;
    /* letter-spacing: 2px;  */
}
div.extra.content{
    background-color: #f8f7ff!important;
    font-size: 12px!important;
    font-weight: bolder;
}
div.ui.centered.stackable.cards{
    margin-top: 10px;
}
span.s1{
    font-size: 15px;
    text-decoration: underline;
    font-weight: lighter;
}
span.s2{
    font-size: 13px;
}
div.item.i2{
letter-spacing: 2px;
}
.pagination {
  justify-content: center;
  display: flex;
  padding-left: 0;
  list-style: none;
}

.page-link {
  display: block;
  border: 1px solid #cccccc;
  border-radius: 5px;
  padding: 5px 10px;
  margin: 0 2px;
  text-decoration: none;
}

a.page-link:hover {
  background-color: #cccccc;
}

.page-item.active .page-link {
  color: #ffffff;
  background-color: #007bff;
}